* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  body {
    font-family: 'Helvetica Neue, Arial';
    color: #7f8c8d;
    font-size: .7em;
    background-color: #ededed; }
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-ellipsis div {
        position: absolute;
        top: 27px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: red;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
      }
      .lds-ellipsis div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(3) {
        left: 26px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(4) {
        left: 45px;
        animation: lds-ellipsis3 0.6s infinite;
      }
      @keyframes lds-ellipsis1 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes lds-ellipsis3 {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
      @keyframes lds-ellipsis2 {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(19px, 0);
        }
      }
      
      @keyframes lds-hourglass {
        0% {
          transform: rotate(0);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        50% {
          transform: rotate(900deg);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        100% {
          transform: rotate(1800deg);
        }
      }
      
    form{ padding:10px}
    input, label, select{
   font-size: 1em;
   padding: 5px;
   margin:2px;
   min-width:120px;
   font-weight: normal;
    }
  .container-tweeter{
      padding:5px;
      width:100%; 
      border: 1px solid white;
      background-color: lightblue;
      /* -webkit-animation: fade 1s;
      animation: fade 1s;
      -moz-animation: fade 1s;
      -o-animation: fade 1s; */
 }

 @-webkit-keyframes fade {
    0% {opacity: 0} 
    100% {opacity:1}
    }
    @keyframes fade {
        0% {opacity: 0} 
        100% {opacity:1}
          }
      @-o-keyframes fade {
        0% {opacity: 0} 
        100% {opacity:1}
      
      }
 .all-tweet{
    height: 30px;
    font-size: .9em;
    font-weight: bold;

  }
 h3 {
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    color: #95a5a6; 
    margin:0 10px;
    color: white;
    width: 100px;
}
.aside{
    font-size: 0.8em;

}


    .avatar img{
        width:1.5em;
        height:1.5em
    }